

  <mat-dialog-content>
    <h2 mat-dialog-title>Booking Details</h2>
    <div class="ticket-wrapper"  >
      <div class="ticket-container">

        <div class="header">
          <span><strong>Booking Number:</strong> {{ data.bookingNo }}</span>
        </div>
  
        <div class="details">
          <p><strong>Booking Start Date:</strong> {{ data.startDate | date }}</p>
          <p> <strong> Booking End Date:</strong> {{ data.endDate | date }}</p>
          <p><strong>Booking Amount:</strong> ₹{{ data.bookingAmount }}</p>
         
        </div>
  
        <div class="barcode">
          <button mat-raised-button >Download</button>
          <button mat-raised-button mat-dialog-close color="warn">Close</button>
        </div>
      </div>
    </div>
  </mat-dialog-content>


  

  