<div class="mat-dialog-container">
<div class="dialog-container">

  <h3 class="heading">Booking Details</h3>
  <p>Booking Number:  <i>{{ data.name.bookingNo }}</i> </p>
  <p>Booking Start Date: <i>{{ data.name.startDate  | date: 'dd/MM/yyyy' }}</i> </p>
  <p>Booking End Date: <i>{{ data.name.endDate  | date: 'dd/MM/yyyy' }}</i> </p>
  <p>Booking Ammount: <i>{{ data.name.bookingAmount}}</i> </p><br>
 <button  color="primary" mat-raised-button (click)="payment()" >Pay Now</button>&nbsp;&nbsp;
    <button mat-raised-button color="warn"  routerLink="https://evurbo.energy/">No</button>


  </div>


  </div>

 