.offline-message {
    position: fixed;
  
    width: 100%;

    color: #333;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  .offline-icon {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-radius: 20px;
  }
  
  .offline-message p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  