.offline-message {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #ffdddd;
    color: #333;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .offline-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .offline-message p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  