.container{
    padding: 2%;
 
}
.book-form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 2%;
  
  }
  
  .card-1 {
    flex: 1 1 calc(50% - 20px); /* Makes the form fields take up 50% of the row */
    display: flex;
    flex-direction: column;
    gap: 16px; /* Adds spacing between the form fields */
  }
  
  .mat-card {

    border-radius: 8px;

  }
  
button{
  width: 200px;

  height: 40px;
}
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .card-1 {
      flex: 1 1 100%; /* For smaller screens, the cards will stack */
    }
    .submit-btn{
      flex: 1 1 100%;
    }
  }


  .startdate-c{
    width: 380px;
    height: 60px;
 

 
  }
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .exampli-field {
    flex: 1 1 calc(50% - 16px);
  }
  .license{
    flex: 1 1 calc(50% - 16px);
  }
  
  @media (max-width: 768px) {
    .exampli-field {
      flex: 1 1 100%;
    }
  }
  
  .licenence-checkbox-container{
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;

  }
  .child{

    flex: 1 1 calc(50% - 16px);
  }

  .dialog .mat-dialog-container {

     --color: black;
    --border-radius: 25px !important;
  }