<div class="container">

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-card>
   
     <div>
        <h2 class="mat-h2" style="text-align: start;">Choose Evurbo for seamless electric bike rentals </h2>
      </div>
        <div class="book-form-container">
         
          <div class="card-1">
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="mobileNo" required oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)">
              <mat-error *ngIf="userForm.get('mobileNo')?.hasError('required')">
                Mobile Number is required
              </mat-error>
              <mat-error *ngIf="userForm.get('mobileNo')?.hasError('pattern')">
                Invalid Mobile Number
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required  oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '').slice(0, 50)" >
              <mat-error *ngIf="userForm.get('firstName')?.hasError('required')">
                First Name is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required  oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '').slice(0, 50)" >
              <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
                Last Name is required
              </mat-error>
            </mat-form-field>
    
       
    
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob" required readonly> 
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="userForm.get('dob')?.hasError('required')">
                Date of Birth is required
              </mat-error>
              <mat-error *ngIf="userForm.get('dob')?.hasError('ageInvalid')">
                You must be at least 18 years old.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email"   oninput="this.value = this.value.replace(/[^a-zA-Z0-9._%+-@]/g, '').slice(0, 50)"  required>
              <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="userForm.get('email')?.hasError('email')">
                Invalid Email Address
              </mat-error>
            </mat-form-field>
    
          <div class="licenence-checkbox-container">
            <div class="child">
              <mat-checkbox formControlName="hasLicense">Do you have a valid License?
           
              </mat-checkbox>
            </div>
            <div class="child">
              <div *ngIf="userForm.get('hasLicense')?.value">
                <mat-form-field appearance="outline">
                  <mat-label>License Number</mat-label>
                  <input matInput formControlName="licenseNo"  oninput="this.value = this.value.replace(/[^a-zA-Z0-9-]/g, '').slice(0, 30)" >
                  <mat-error *ngIf="userForm.get('licenseNo')?.hasError('required')">
                    License Number is required
                  </mat-error>
                  <mat-error *ngIf="userForm.get('licenseNo')?.hasError('pattern')">
                    Invalid License Number
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
       
    
         
          
          </div>
        </div>
          <div class="card-1">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select  formControlName="gender" required>
                <mat-option  *ngFor="let option of genderDetails" [value]="option.lookupID">{{option.lookupDescription}}</mat-option>
            
              </mat-select>
              <mat-error *ngIf="userForm.get('gender')?.hasError('required')">
                Gender is required
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Select Hub</mat-label>
              <mat-select formControlName="hub"  required>
                @for (hubDetail of hubDetails; track hubDetail) {
                <mat-option type="number" value="{{hubDetail.lookupID}}">{{hubDetail.lookupDescription}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="userForm.get('hub')?.hasError('required')">
                Hub selection is required
              </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Select Model</mat-label>
              <mat-select formControlName="model"  required>
                @for (modelDetail of modelDetails; track modelDetail) {
                <mat-option type="number" value="{{modelDetail.lookupID}}">{{modelDetail.lookupDescription}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="userForm.get('model')?.hasError('required')">
                Model selection is required
              </mat-error>
            </mat-form-field>
             <div class="startdate-p">
              <div class="startdate-c">
                <mat-form-field appearance="outline" class="exampli-field">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="pickerStart" (dateChange)="onDateChange($event)" [value]="startDate | date:'shortDate'" required readonly>
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                  <mat-error *ngIf="userForm.get('startDate')?.hasError('required')">
                    Start Date is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="startdate-c">
                <mat-form-field appearance="outline" class="exampli-field">
                  <mat-label>Start Time</mat-label>
                  <mat-select (selectionChange)="onTimeChange($event.value)" [value]="startDate | date:'shortTime'" required readonly>
                    <mat-option *ngFor="let time of timeSlots" [value]="time">
                      {{ time }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="userForm.get('startDateTime')?.hasError('required')">
                    Start Time is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="startdate-c">
                <mat-form-field appearance="outline" class="exampli-field">
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="pickerEnd" (dateChange)="onEndDateChange($event)" [value]="endDate | date:'shortDate'" required>
                  <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                  <mat-error *ngIf="userForm.get('endDate')?.hasError('required')">
                    End Date is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="startdate-c">
                <mat-form-field appearance="outline" class="exampli-field">
                  <mat-label>End Time</mat-label>
                  <mat-select (selectionChange)="onEndTimeChange($event.value)" [value]="endDate | date:'shortTime'" required>
                    <mat-option *ngFor="let time of timeSlots" [value]="time">
                      {{ time }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="userForm.get('endDate')?.hasError('required')">
                    End Time is required
                  </mat-error>
                </mat-form-field>
              </div>
             </div>
           
            
         
            
             
    
          
            
         
    
            
          
          </div>
          <button mat-raised-button color="primary" type="submit"  >Proceed</button>
        </div>
      
      </mat-card>
    </form>
    </div> 
    <h3 class="mat-h3" style="text-align: end;">Experience the convenience and eco-friendly charm of exploring the city on our rental ebikes.</h3>
  
